@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Inter:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-orbitron: "Orbitron", sans-serif;
  --font-inter: "Inter", sans-serif;
}
