@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --font-inter: "Inter", sans-serif;
  --font-space-grotesk: "Space Grotesk", sans-serif;

  /* Light Mode Colors */
  --primary: #4f46e5;
  /* Indigo 600 */
  --primary-foreground: #ffffff;

  --secondary: #71717a;
  /* Zinc 500 */
  --secondary-foreground: #ffffff;

  --background: #ffffff;
  --surface: #fafafa;
  /* Zinc 50 */
  --text: #18181b;
  /* Zinc 900 */

  --success: #10b981;
  /* Emerald 500 */
  --error: #ef4444;
  /* Red 500 */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Mode Colors */
    --primary: #6366f1;
    /* Indigo 500 */
    --primary-foreground: #ffffff;

    --secondary: #a1a1aa;
    /* Zinc 400 */
    --secondary-foreground: #18181b;

    --background: #09090b;
    /* Zinc 950 */
    --surface: #18181b;
    /* Zinc 900 */
    --text: #fafafa;
    /* Zinc 50 */
  }
}

@theme {
  --font-sans: var(--font-inter);
  --font-display: var(--font-space-grotesk);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-text: var(--text);

  --color-success: var(--success);
  --color-error: var(--error);
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-space-grotesk);
}